<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Mise à jour  d'un dossier médical</title>
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" th:rel="stylesheet">
</head>
<body>
<div class="container special">

    <h2 class="h2">Mise à jour d'un dossier médical</h2>
    <div>
        <form method="post"
              th:action="@{/saveMedicalrecord}" th:object="${medicalrecord}">
            <div class="fom-group">
                <input
                        type="hidden" th:field="*{id}" class="form-control">
            </div>
            <div class="form-group">
                <label for="firstNameInput">Prénom</label>
                <input
                        type="text" th:field="*{firstName}" class="form-control" id="firstNameInput"
                        aria-describedby="firstNameHelp" placeholder="Saisir le prénom"> <small
                    id="firstNameHelp" class="form-text text-muted">Merci d'écrire le prénom de la personne.</small>
            </div>
            <div class="form-group">
                <label for="lastNameInput">Nom</label>
                <input
                        type="text" th:field="*{lastName}" class="form-control" id="lastNameInput"
                        aria-describedby="lastNameHelp" placeholder="Saisir le nom"> <small
                    id="lastNameHelp" class="form-text text-muted">Merci d'écrire le nom de la personne.</small>
            </div>
            <div class="form-group">
                <label for="birthdateInput">Date de naissance</label>
                <input
                        type="text" th:field="*{birthdate}" class="form-control" id="birthdateInput"
                        aria-describedby="birthdateHelp" placeholder="Saisir la date de naissance"> <small
                    id="birthdateHelp" class="form-text text-muted">Merci d'écrire la date de naissance.</small>
            </div>
            <div class="form-group">
                <label for="medicationsInput">Médicaments</label>
                <input
                        type="text" th:field="*{medications}" class="form-control" id="medicationsInput"
                        aria-describedby="medicationsHelp" placeholder="Saisir la liste des médicaments"> <small
                    id="medicationsHelp" class="form-text text-muted">Merci d'écrire la liste des médicaments.</small>
            </div>
            <div class="form-group">
                <label for="allergiesInput">Allergies</label>
                <input
                        type="text" th:field="*{allergies}" class="form-control" id="allergiesInput"
                        aria-describedby="allergiesHelp" placeholder="Saisir la liste des allergies"> <small
                    id="allergiesHelp" class="form-text text-muted">Merci d'écrire la liste des allergies.</small>
            </div>
            <button type="submit" class="btn btn-primary">Sauvegarder</button>
        </form>
    </div>

</div>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>