<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Liste Enfants</title>
    <link th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}" th:rel="stylesheet">
</head>
<body>
<h1>Liste des enfants à une adresse avec les membres de leur famille :</h1>

<tr th:if="${ChildListAtGivenAddressWithMembersOfFamily.listChild.empty}">
    <h2 style="color:rgb(255,0,0);" colspan="3">Aucun enfant vivant à cette adresse ! Voici les personnes vivants à cette adresse :</h2>
</tr>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="childList: ${ChildListAtGivenAddressWithMembersOfFamily.listChild}">
        <td><span th:text="${childList.lastName}"> Nom </span></td>
        <td><span th:text="${childList.firstName}"> Prénom </span></td>
        <td><span th:text="${childList.Age}"> Age </span></td>
    </tr>
    <tr th:each="othersMembers: ${ChildListAtGivenAddressWithMembersOfFamily.othersMembers}">
        <td><span th:text="${othersMembers.lastName}"> Nom </span></td>
        <td><span th:text="${othersMembers.firstName}"> Prénom </span></td>
        <td><span th:text="${othersMembers.Age}"> Age </span></td>
    </tr>
    </tbody>
</table>
<script th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>