<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>SafetyNetAlerts</title>
    <link th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}" th:rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href=".">Bienvenue sur l'application de SafetyNet Alerts !</a>
            </div>
        </div>
    </nav>
    <div class="container special">
        <h2 class="h2">Veuillez choisir une catégorie :</h2>
        <a  th:href="@{/persons}" class="btn btn-primary">Liste de personnes</a>
        <a th:href="@{/firestations}" class="btn btn-primary">Liste des casernes</a>
        <a th:href="@{/medicalrecords}" class="btn btn-primary">Liste des dossiers médicaux</a>
    </div>
    <script th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>