<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Foyer couvert par la caserne</title>
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" th:rel="stylesheet">
</head>
<body>
<h1>Foyer couvert par la caserne</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Adresse</th>
        <th>Téléphone</th>
        <th>Age</th>
        <th>Medications</th>
        <th>Allergies</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mapItem : ${listPersonsHomesCoveredByFirestationNumber}">
        <td><span th:text="${mapItem.firstName}"> Prénom </span></td>
        <td><span th:text="${mapItem.lastName}"> Nom </span></td>
        <td><span th:text="${mapItem.address}"> Adresse </span></td>
        <td><span th:text="${mapItem.phone}"> Téléphone </span></td>
        <td><span th:text="${mapItem.age}"> Age </span></td>
        <td><span th:text="${mapItem.medications}"> Medications </span></td>
        <td><span th:text="${mapItem.allergies}"> Allergies </span></td>
    </tr>
    </tbody>
</table>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>