<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Personnes Informations</title>
    <link th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}" th:rel="stylesheet">
</head>
<body>
<h1>Toutes les informations de la personne</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Adresse</th>
        <th>Email</th>
        <th>Age</th>
        <th>Allergies</th>
        <th>Medications</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><span th:text="${personInfosByLastNameAndFirstName.last_name}"> Nom </span></td>
        <td><span th:text="${personInfosByLastNameAndFirstName.address}"> Adresse </span></td>
        <td><span th:text="${personInfosByLastNameAndFirstName.email}"> Email </span></td>
        <td><span th:text="${personInfosByLastNameAndFirstName.age}"> Age </span></td>
        <td><span th:text="${personInfosByLastNameAndFirstName.allergies}"> Allergies </span></td>
        <td><span th:text="${personInfosByLastNameAndFirstName.medications}"> Medications </span></td>
    </tr>
    </td>
    </tbody>
</table>
<script th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>