<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Personnes</title>
    <link th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}" th:rel="stylesheet">
</head>
<body>

<div class="container-fluid special">
    <h2 class="h2">Liste des personnes</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Code postal</th>
                <th>Téléphone</th>
                <th>Mail</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <tr th:if="${persons.empty}">
                    <td colspan="3">Aucun employée en base de données</td>
                </tr>
                <tr th:each="person: ${persons}">
                    <td><span th:text="${person.firstName}"> Prénom </span></td>
                    <td><span th:text="${person.lastName}"> Nom </span></td>
                    <td><span th:text="${person.address}"> Adresse </span></td>
                    <td><span th:text="${person.city}"> Ville </span></td>
                    <td><span th:text="${person.zip}"> Code postal </span></td>
                    <td><span th:text="${person.phone}"> Téléphone </span></td>
                    <td><span th:text="${person.email}"> Mail </span></td>
                    <td>
                        <a th:href="@{/updatePerson/{id}(id=${person.id})}"><button class="btn btn-info">Modifier</button></a>
                        <a th:href="@{/deletePerson/{lastName}{firstName}(lastName=${person.lastName}, firstName=${person.firstName})}"><button class="btn btn-danger">Supprimer</button></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <a th:href="@{/createPerson}"><button class="btn btn-success">Ajouter une nouvelle personne</button></a>
</div>
<script th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>