<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Personnes</title>
    <link th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}" th:rel="stylesheet">
</head>
<body>

<div class="container special">
    <h2 class="h2">Liste des personnes</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Code postal</th>
                <th>Téléphone</th>
                <th>Mail</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${persons.empty}">
                <td colspan="3">Aucun employée en base de données</td>
            </tr>
            <tr th:each="person: ${persons}">
                <td><span th:text="${person.firstName}"> Prénom </span></td>
                <td><span th:text="${person.lastName}"> Nom </span></td>
                <td><span th:text="${person.address}"> Adresse </span></td>
                <td><span th:text="${person.city}"> Ville </span></td>
                <td><span th:text="${person.zip}"> Code postal </span></td>
                <td><span th:text="${person.phone}"> Téléphone </span></td>
                <td><span th:text="${person.email}"> Mail </span></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
<script th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>